<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gotoDomang.review.dao.ReviewDAO">
	<select id="selectReviewList" resultType="com.gotoDomang.review.model.Review">
	 	SELECT
	 		`id`
			,`userId`
			,`hotelId`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
	 	FROM
	 		`review`
	 	WHERE
	 		hotelId = ${hotelId}
	 	ORDER BY `id` DESC
	</select>
	
	<insert id="insertReivew" parameterType="map">
		INSERT INTO `review`
		(
			`userId`
			,`hotelId`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
		)
		VALUES 
		(
			#{userId}
			, #{hotelId}
			, #{point}
			, #{review}
			, NOW()
			, NOW()
		)
	</insert>
			<select id="selectHotel" resultType="com.gotoDomang.review.model.Review">
		SELECT
			`id`
			,`userId`
			,`hotelId`
			,`point`
			,`review`
			,`createdAt`
			,`updatedAt`
		FROM
			`review`
		WHERE
			`id` = #{id}
	</select>

</mapper>